body {
  font-family: inherit;
}

#login, #loggedin {
  display: none;
}
.text-overflow {
}
.artist:hover {
  cursor: pointer;
  text-decoration: underline;
}
#shows li {
  margin: 5px;
  font-size: 20px;
}

#shows li:nth-child(even) {
  background-color: rgba(0,0,0,0.1);
}
